.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
    height: 62px;
    border-bottom: 2px solid rgb(178, 201, 233);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(12, 12, 14);
}
.header .inner-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1160px;
    max-width: 1210px;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 10px;
    margin-left: 20px;
}
.header-options {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
}