.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    min-width: 250px;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #2f2f2fb6;
    color: #ffffff;
}
.inner-post {
    border-bottom: 2px solid rgb(178, 201, 233);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}
.author {
    display: flex;
    margin-left: 1rem;
    gap: 10px;
    align-items: center;
}
.author p {
    font-weight: bold;
}
.post-context {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
}
.post-context p {
    margin: 0;
}
.post-context h2 {
    margin: 0;
}
.edit{
    position: relative;
}
.moreButton {
    width: 30px;
    float:right;
}
.moreButton:hover {
    cursor: pointer;
}
.post-container h2 {
    margin-bottom: 10px;
    color: black;
}
small {
    font-weight: bold;
}
.comments-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 500px;
    border-radius: 5px;

}
.comments-container h3 {
    margin-bottom: 1px;
    color: rgb(255, 255, 255);
}
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
li {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px;
    padding: 10px;
    border-top: 1px solid #6b6b6b;
}
textarea {
    width: 95%;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgba(144, 144, 144, 0.108);
}
img {
    width: 30px;
    float:left;
}
.like-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px ;
}
